
/* Reduce base font size */
:root {
  font-size: 1.2rem;
}

/* Tighter line height for body text */
.md-typeset {
  line-height: 1.6;
}

/* Reduce spacing between paragraphs */
.md-typeset p {
  margin-block-start: 0em;
  margin-block-end: 1em;
}

/* Tighten spacing in headings */
/* Reduce font size and bold for h1 and h2 */

.md-typeset h1{
  margin-top: 0em;
  margin-bottom: 0.6em;
  font-size: 1.9em;
  border-bottom: 1px solid #999;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  /* font-weight: bold; */
}

/* Tighten spacing in headings */
.md-typeset h2,
.md-typeset h3 {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

/* Reduce font size and bold for h1 and h2 */
.md-typeset h2 {
  font-size: 1.17em;
  font-weight: 450;
  color: var(--md-default-fg-color--light);
}

/* Reduce font size and italic for h3 */
.md-typeset h3 {
  font-size: 1em;
  font-style: italic;
}

/* Reduce padding inside content area */
.md-main__inner {
  padding: 0.5rem;
}

/* Reduce spacing in tables */
.md-typeset table:not([class]) td, .md-typeset table:not([class]) th {
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

/* Center align table cells with class "centered" */
.md-typeset table:not([class]) td.centered, .md-typeset table:not([class]) th.centered {
  text-align: center;
}

/* Center align table cells with class "centered" */
.md-typeset table:not([class]) td.right-aligned, .md-typeset table:not([class]) th.right-aligned {
  text-align: right;
}

.md-typeset__table {
  margin: 0 auto;
  width: 100%;
  /* table-layout: fixed; */
}

/* Ensure table cells expand and wrap properly */
.md-typeset__table table {
  width: 100%;
  table-layout: fixed;
}

/* Ensure table cells expand and wrap properly */
.md-typeset__table td,
.md-typeset__table th {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

/* Footnote styling for compliance tables */
.md-typeset span.footnote {
  display: block;
  font-size: 0.85em;
  color: var(--md-default-fg-color--light);
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.3;
}

